<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/aboutuspage.css">
    <title>About Us</title>
</head>

<body>

    <section class="abtSec">
        <h1>About Us</h1>
        <p style="font-weight: bold">
            Vivaaks is a leading platform...
        </p>
        <div class="abtInfo">
            <div class="abtImg">
                <img src="/images/logo-black.png" alt="">
            </div>
            <div>
                <p> Vivaaks is a leading platform that provides computer science resources and coding challenges for programmers and technology enthusiasts, along with interview and exam preparations for upcoming aspirants. With a strong emphasis on enhancing coding skills and knowledge, it has become a trusted destination for over 12 million plus registered users worldwide.
                </p>
                <button class="readmorebtnfortheaboutuspage">Read More...</button>
            </div>
        </div>
    </section>
	<section id="workFlow">
		<h2 class="headingforabout">Grow Up Your Skill.</h2>
		<p class="para">
		  Using our enhanced global software training delivery methodology,
		  innovative software training <br />
		  approach and industry expertise, we provide high-value corporate
		  training services that <br />
		  enable our clients to enhance business performance, accelerate
		  time-to-market,<br />
		  increase productivity and improve customer service.
		</p>
		<div class="num-container">
		  <div class="num-item">
			<span>27,882 <br />Customers</span>
		  </div>
		  <div class="num-item">
			<span>95% <br />Action Plans</span>
		  </div>
		  <div class="num-item">
			<span>70,592 <br />Downloads</span>
		  </div>
		</div>
	  </section>
	  <section id="goal">
		<div class="goal-left">
		  <h2>Our Goal</h2>
		  <p>
			<b>Well-disciplined in planning and execution :</b><br />
			&nbsp; To achieve set goals meticulous planning and student friendly
			discipline is our strength. We are sure that well-planned programs
			meet expectations.<br />
			<b> Student-centric System </b>:<br />
			&nbsp; Our every activity is designed and arranged keeping the
			students’ progress and welfare at the center of all. We keenly work on
			student related issues for their holistic development.
		  </p>
		  <ul>
			<li>Providing Best Possible education</li>
			<li>Developing the Skilled human resource</li>
			<li>Enhancing Employability of students</li>
		  </ul>
		  <a href="" class="btn"> Contact Us</a>
		</div>
		<div class="goal-right">
		  <img src="/images/our goal.jpg" alt="" />
		</div>
	  </section>
    <section class="tmSec">
        <h1>Meet Our Team</h1>
        <div class="tmCards">

            <!-- Cards here -->
            <!-- Card 1 -->

            <div class="tmCard">
                <div class="tmCardImg">
                  <img src="/images/ourabout.png" alt="">
                </div>
                <div class="tmCardInfo">
                    <h2 class="tmCardName">SSS</h2>
                    <p class="tmCardRole">CEO and Founder</p>
                    <p class="tmCardEmail">sss@example.com</p>
                    <p><button class="tmButton">Contact</button></p>
                </div>
            </div>

            <!-- Card 2 -->

            <div class="tmCard">
                <div class="tmCardImg">
                    <img src="/images/ourabout.png" alt="">
                </div>
                <div class="tmCardInfo">
                    <h2 class="tmCardName">PPP</h2>
                    <p class="tmCardRole">Co-Founder</p>
                    <p class="tmCardEmail">ppp@example.com</p>
                    <p><button class="tmButton">Contact</button></p>
                </div>
            </div>

            <!-- Card 3 -->
			<div>
				
			</div>

            <div class="tmCard">
                <div class="tmCardImg">
                  <img src="/images/ourabout.png" alt="">
                </div>
                <div class="tmCardInfo">
                    <h2 class="tmCardName">AAA</h2>
                    <p class="tmCardRole">Co-Founder</p>
                    <p class="tmCardEmail">aaa@example.com</p>
                    <p><button class="tmButton">Contact</button></p>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
