<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="containerforassi">
        <div id="assignment-count"></div>
    
          <div class="assignment colorsleft">
            <img src="Images/assignmentlogo1.png" alt="">
            <div class="infoofassignment">
                <article class="testoneass"> <img src="Images/book.png" alt=""><span>target NSEA 2023-Astronomy</span></article>
                <article class="testtwoass">Detection by The Doppler Effect transit technique gravitational microsing and direct imagination assignment
                </article>
                <article class="testthirdas">Shared on Oct 20 <a href="#" style="text-decoration: none;"><span class="pdftype">PDF</span></a></article>
    
            </div>
    
            <button class="startnowbtn"> <img src="Images/pencil.png" alt="">Start</button>
          </div>
          <div class="assignment colorsleftyellow">
            <img src="Images/assignmentlogo1.png" alt="">
            <div class="infoofassignment">
                <article class="testoneass"> <img src="Images/book.png" alt=""><span>target NSEA 2023-Astronomy</span></article>
                <article class="testtwoass">Detection by The Doppler Effect transit technique gravitational microsing and direct imagination assignment
                </article>
                <article class="testthirdas">Shared on Oct 20 <a href="#" style="text-decoration: none;"><span class="pdftype">PDF</span></a></article>
    
            </div>
    
            <button class="startnowbtn"> <img src="Images/pencil.png" alt="">Start</button>
          </div>
          <div class="assignment colorsleftgreen">
            <img src="images/assignmentlogo1.png" alt="">
            <div class="infoofassignment">
                <article class="testoneass"> <img src="Images/book.png" alt=""><span>target NSEA 2023-Astronomy</span></article>
                <article class="testtwoass">Detection by The Doppler Effect transit technique gravitational microsing and direct imagination assignment
                </article>
                <article class="testthirdas">Shared on Oct 20 <a href="#" style="text-decoration: none;"><span class="pdftype">PDF</span></a></article>
    
            </div>
    
            <button class="startnowbtn"> <img src="Images/pencil.png" alt="">Start</button>
          </div>
          <div class="assignment colorsleftpink">
            <img src="images/assignmentlogo1.png" alt="">
            <div class="infoofassignment">
                <article class="testoneass"> <img src="Images/book.png" alt=""><span>target NSEA 2023-Astronomy</span></article>
                <article class="testtwoass">Detection by The Doppler Effect transit technique gravitational microsing and direct imagination assignment
                </article>
                <article class="testthirdas">Shared on Oct 19 <a href="#" style="text-decoration: none;"><span class="pdftype">PDF</span></a></article>
    
            </div>
    
            <button class="startnowbtn"> <img src="Images/pencil.png" alt="">Start</button>
          </div>
          <div class="assignment colorsleftblue">
            <img src="images/assignmentlogo1.png" alt="">
            <div class="infoofassignment">
                <article class="testoneass"> <img src="Images/book.png" alt=""><span>target NSEA 2023-Astronomy</span></article>
                <article class="testtwoass">Detection by The Doppler Effect transit technique gravitational microsing and direct imagination assignment
                </article>
                <article class="testthirdas">Shared on Oct 23 <a href="#" style="text-decoration: none;"><span class="pdftype">PDF</span></a></article>
    
            </div>
    
            <button class="startnowbtn"> <img src="Images/pencil.png" alt="">Start</button>
          </div>
          <div class="assignment colorsleftgreen">
            <img src="images/assignmentlogo1.png" alt="">
            <div class="infoofassignment">
                <article class="testoneass"> <img src="Images/book.png" alt=""><span>target NSEA 2023-Astronomy</span></article>
                <article class="testtwoass">Detection by The Doppler Effect transit technique gravitational microsing and direct imagination assignment
                </article>
                <article class="testthirdas">Shared on Oct 21 <a href="#" style="text-decoration: none;"><span class="pdftype">PDF</span></a></article>
    
            </div>
    
            <button class="startnowbtn"> <img src="Images/pencil.png" alt="">Start</button>
          </div>
          <div class="assignment colorsleftyellow">
            <img src="images/assignmentlogo1.png" alt="">
            <div class="infoofassignment">
                <article class="testoneass"> <img src="Images/book.png" alt=""><span>target NSEA 2023-Astronomy</span></article>
                <article class="testtwoass">Detection by The Doppler Effect transit technique gravitational microsing and direct imagination assignment
                </article>
                <article class="testthirdas">Shared on Oct 22 <a href="#" style="text-decoration: none;"><span class="pdftype">PDF</span></a></article>
    
            </div>
    
            <button class="startnowbtn"> <img src="Images/pencil.png" alt="">Start</button>
          </div>
          <!-- <div class="assignment">Assignment 2</div>
           <div class="assignment">Assignment 12</div> -->
    
       </div>

       
</body>
</html>