<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/chatbotpage.css">
</head>
<body>
    <div class="chatanimation">
        <!-- Chatbot Button -->
        <button id="openChatbotButton" class="chatbot-button">
            <i class="fa fa-comments"></i> Chat with us
        </button>

        <!-- Chatbot Container -->
        <div id="containerchatbot" class="containerforchatbot" style="display: none;">
            <div class="chat-header">
                <div class="logo"><i class="fa-solid fa-robot"></i></div>
                <div class="title">Chat Buddy</div>
                <div class="dots"><i class="fas fa-ellipsis-h" style="color: #050505;"></i></div>
            </div>
            <div class="chat-body">
                <div class="chatbot-message bot-message" id="default-message">
                    <p>Hi There,</p>
                    <p>Nice to see you 👋</p>   
                    <p>Welcome to Vivaaks</p>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" id="txtinput" placeholder="Write a reply" class="textbox" autofocus>
                <button class="send"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
    <script src="/javascripts/chatbot.js" defer></script>
</body>
</html>
