<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="firstoffaqone">
          FAQs
        </div>
        <div class="navbaroffaqitoms">
            <div id="higerTab" class="firstnavitomfaq faqnavdesign active ">1-to-1(Higher Grades)</div>
            <div id="refundTab" class="firstnavitomfaq ">Refund</div>
            <div id="learningTab" class="firstnavitomfaq ">Early Learning Courses</div>
        </div>
    </div>
        <div class="forquestions">
            
            <div class="whiteboxcenter">
                <div class="higergradediv faqcontent opentabs"id="higerTabContent">
                <div class="course-plan">
                    <div class="course-heading">
                        <p>How to accept a course plan?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                  </div>
                  <div class="course-plan">
                    <div class="course-heading">
                        <p>Where do I find the course plans that I've enrolled for?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>How do I cancel the session?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
                
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>I did not take a session, how do I reschedule that session?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                             
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>I want to change my subject's teacher. How do I do it?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                           
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>I've by mistake given wrong rating to a teacher, how do I change it?
                        </p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                            
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>Where do I find my remaining hours?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                               
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>I've hours remaining, but I'm unable to schedule my sessions. What should I do?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                               
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>How to accept a course plan?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                              
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>How frequently will I get my tests/assignments from teachers?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>Can I download the past session replay?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>How to download my Session Notes?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
  
                <div class="course-plan">
                    <div class="course-heading">
                        <p>What is the procedure to get refund of my money?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
            </div>
            <div class="refundfaq faqcontent opentabs" id="refundTabContent">
                <div class="course-plan">
                    <div class="course-heading">
                        <p>How to accept a course plan?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                  </div>
                  <div class="course-plan">
                    <div class="course-heading">
                        <p>What is the procedure to get refund of my money?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
                <div class="course-plan">
                    <div class="course-heading">
                        <p>How can I get a refund? (in cases where applicable)
                        </p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
            </div>
            <div class="learningclassesfaq faqcontent opentabs" id="learningTabContent">
                <div class="course-plan">
                    <div class="course-heading">
                        <p>How to accept a course plan?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                  </div>
                  <div class="course-plan">
                    <div class="course-heading">
                        <p>What is the procedure to get refund of my money?</p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
                <div class="course-plan">
                    <div class="course-heading">
                        <p>How can I get a refund? (in cases where applicable)
                        </p>    
                      <span class="toggle-button">+</span>
                    </div>
                    <div class="course-details"">
                      <p>Follow the below steps :-</p>
                        <div style="padding: 12px 29px;">
                               <ol>
                                <li class="paditop7">Login to your vivaaks Account.</li>
                                <li class="paditop7">Click on "My Subscription" you would see on top of the page.</li>
                                <li class="paditop7">Click on "1-to-1" Tab under "My Subscription".</li>
                                <li class="paditop7">You would see your active course plan. Click on "View Details".</li>
                                <li class="paditop7">You would be able to see a Join Course button. Click on it.</li>
                                <li class="paditop7">Once you've join the course you would be able to see pay and join option in the right corner.</li>
                            </ol>
                        </div>
  
                    </div>
                    <hr class="hrline">
                </div>
            </div>
        </div>
  
  
  
        </div>
     <div class="helpdeskno">
      
               <p style="font-size: 2vh; ">In case you face any issues you can reach us at</p>
               <p class="mobileno">+918888888887</p>
            </div>
</body>
</html>