<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Certificate</title>
</head>
<body>
    <h1>Generate Certificate</h1>
    <form action="/generate-certificate" method="POST">
        <label for="user">Select User:</label>
        <select name="userEmail" id="user">
            <% verifiedUsers.forEach(user => { %>
                <option value="<%= user.email %>"><%= user.name %> - <%= user.email %></option>
            <% }); %>
        </select>
        <button type="submit">Generate Certificate</button>
    </form>
</body>
</html>
