<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mainofmycourses">
        <div class="smallcard">
            <img src="/images/gift-box.png" alt="">
        
        <div style="display: flex; flex-direction: column; gap: 10px;">
            <p>Invited friend and get Amazon Pay Gift Card</p>
            <p> worst &#8377;15,000/-</p>
            <button class="blackbtn">Know More</button>
        </div>
        </div>
        <div class="upcomingclassesslide">
            <div class="headlineofuc">
            <p>Ucoming Classes</p>
            <a href="#">View All</a>
                


        </div>
        </div>
        <div class="coursedes">

                <div class="boxdivfour">
                    <div style="background-color: rgb(230, 170, 228); display: flex; align-items: center;border-radius: 10px;  ">
                    <i class="ri-video-chat-line" style="font-size: 40px; padding: 4px; "></i> </div>   
                    <div><p>Concept</p><p>Videos</p></div>
               
                </div>
                <div class="boxdivfour">
                    <img src="/images/askdought.jpg" alt="" >
                    <div><p>Ask</p><p>a Doubt</p></div>
                </div>
                <div class="boxdivfour">
                    <img src="/images/assinment.png" alt="" >
                    <div><p>My</p><p>Assignments</p></div>
                </div>
                <div class="boxdivfour">
                    <img src="/images/replays.png" alt="" >
                    <div><p>Wacth</p><p>Replays</p></div>
                </div>

        </div>
        <div class="lastdivofmycoursepage">
            <div class="twodivonmcp">
                <div class="firstonecp">
                    <p >Invite & get rewards</p>
                    <p style="font-size: 22px; letter-spacing: 0.5px;">Get up to&#8377;15,000 worth Amazon pay Gift Card <p></p></p>
                    <button class=blackbtn>Know More</button>
                    <div style="display: flex; align-items: center; gap: 20px;">
                        <input type="text" style="border-radius: 20px; padding: 10px;">
                        <div style="display: flex; gap: 9px; align-items: center; margin-top: 10px;">
                        <a href="#"><img src="/images/whatsapp-logo-app-png-4.png" alt="" style="height: 35px; width: 35px; cursor: pointer;"></a>
                        <a href="#"><img src="/images/png-transparent-share-icon-compu.jpg" alt="" style="height: 30px; width: 30px;border-radius: 70px; cursor: pointer;"></a>
                    </div>
                    </div>
                </div>
                <div class="twoonecp">
                    <img src="/images/gift-box.png" alt="">
                </div>
                   
            </div>

        </div>
        



        </div>
</body>
</html>