<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mypuchesessection">
        <p class="f29">My Purchases</p>
        <div class="myptext">
            <p>It seems like you are not enrolled in any course on vivaaks, yet</p>
    <p class="stextofmyp">In order to get a FREE trial enrollment for vivaaks courses (which includes LIVE Classes, Concept Videos, Practice Tests, Unlimited Doubts & more), please write to us at 	vivaaks.hr@gmail.com or call us on 1800-120-456-456 or +91-988-660-2456.</p>
        </div>
    </div>
</body>
</html>