<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <title>vivaakas</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/user.css">
  <link rel="stylesheet" href="/stylesheets/mycourses.css">
  <link rel="stylesheet" href="/stylesheets/testpage.css">
  <link rel="stylesheet" href="/stylesheets/attempted.css">
  <link rel="stylesheet" href="/stylesheets/assignment.css">
  <link rel="stylesheet" href="/stylesheets/faq.css">
  <link rel="stylesheet" href="/stylesheets/mycoursesnav.css">
  <link rel="stylesheet" href="/stylesheets/mainfooter.css">
  <link rel="stylesheet" href="/stylesheets/usereditdetails.css">
  <link rel="stylesheet" href="/stylesheets/mySchedule.css">
  <link rel="stylesheet" href="/stylesheets/adminsendcoursedesing.css">
  <link rel="stylesheet" href="/stylesheets/exlporepage.css">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    
</head>

<body>
 <nav>
  <% include navbarformainpage.ejs %>
 </nav>
 
  
<div class="chatbotpageandroute">
  <% include chatbot.ejs %>
</div>
  <!-- 
starting the pages of different different and first is user page my profile -->

<div class="pageofbody">
<!-- this page for explore page -->
<div class="section" id="explorepage">
</div>
 
 <!-- <div class="Explorer-tech">
    <h1>Technology</h1>
    <div class="Explorer-marquee-container" style="width: 20%;">
        <div class="marquee-content" style="position: fixed;overflow-x:auto ;">
            <img src="/images/html.png" alt="Image 1" >
            <img src="/images/css.png" alt="Image 2" >
            <img src="/images/js.png" alt="Image 3">
            <img src="/images/gift-box.png" alt="Image 4">
            <img src="/images/nodejs.png" alt="Image 5">
            <img src="/images/nodejs.png" alt="Image 6">
            <img src="/images/java.png" alt="Image 7">
            <img src="/images/oracle.png" alt="Image 8">
            <img src="/images/python.png" alt="Image 9">
           
        </div>
    </div>
</div>
       -->




</div>
  <!-- starting the pages of different different and first is user page my profile --> 
  <div class="section" id="myprofile">
      
        
      </div>

      <div class="profiledivfour"></div>

       
     
    
      <!-- starting the pages of different different and first is user page my account --> 

      <div class="section" id="mypurcheses">
     

    </div>

    <!-- starting the pages of different different and first is user page my account page --> 

    <div class="section" id="myaccount">
     
  </div>
</div>
    
    <!--this page for my coursese nav main itoms-->
  
  <!-- MY Schedule page start -->

      <!-- this code for the test page -->
      <div class="section" id="testpage" >
     
    </div>

     <!-- thisis page of assignment section -->
     <div class="section" id="assinmentpage">
      
  </div> 


 <!--this page for faq of project in more option -->
 <div class="section" id="faqs">
  
</div>

<div class="section" id="allcourses">
 
</div>

<footer>
  <% include footer.ejs %>
</footer>
  </div>




<!-- <script src="/javascripts/mySchedule.js"></script> -->
  <script src="/javascripts/assignment.js"></script>
  <script src="/javascripts/navbar.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/test.js"></script>
  <script src="/javascripts/faq.js"></script>
  <script src="/javascripts/usereditform.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/explorepage.js"></script>
  <script src="/javascripts/chatbot.js" defer></script>

</body>

</html>